<app-covid-alert-bar fxHide.xs></app-covid-alert-bar>
<app-ticket-page-header fxHide.xs></app-ticket-page-header>
<app-header fxHide.gt-xs (toggleSearchBoxEvent)="toggleSearchBox($event)"></app-header>

<div fxHide [ngStyle]="displayStyle" class="search-box-container">
  <app-mobile-search-box #mobileSearchBox></app-mobile-search-box>
</div>

<div class="container" style="height: auto">
  <div fxLayout="row"
       fxLayout.xs="column"
       fxLayoutAlign="start start"
       fxLayoutAlign.xs="start"
       class="full-height full-width">
    <div fxFlex="20"
         fxLayout="column"
         fxLayout.xs="row"
         fxLayoutAlign="start start"
         fxLayoutAlign.xs="space-between start"
         class="side-nav">
      <div class="user-info"
           fxFlex.xs="1 0 40"
      >
        <app-avatar></app-avatar>
        <h2 class="title-3">{{userData.name}}</h2>
        <span style="font-size: x-small">{{userData.email}} | {{userData.phone}}</span>
      </div>
      <div class="navs" fxHide.xs>
        <ng-container style="height: auto" *ngIf="userRole === 'attendee'; then attendeeLinks else organizerLinks"></ng-container>
        <ng-template #attendeeLinks>
          <a matRipple class="nav-item" routerLink="/tickets/overview" routerLinkActive="nav-active">Overview</a>
          <a matRipple class="nav-item" routerLink="/tickets/my-tickets" routerLinkActive="nav-active">My Tickets</a>
          <a matRipple class="nav-item" routerLink="/tickets/sales" routerLinkActive="nav-active">My Sales</a>
          <a matRipple class="nav-item" routerLink="/tickets/payments" routerLinkActive="nav-active">Payment</a>
          <a matRipple class="nav-item" routerLink="/tickets/favorites" routerLinkActive="nav-active">Favorites</a>
          <a matRipple class="nav-item" routerLink="/tickets/rf-id" routerLinkActive="nav-active">RF ID</a>
          <a matRipple class="nav-item" routerLink="/tickets/settings" routerLinkActive="nav-active">Settings</a>
          <a matRipple class="nav-item" (click)="logout()">Sign Out</a>
        </ng-template>
        <ng-template #organizerLinks>
          <a matRipple class="nav-item" routerLink="/tickets/organizer/overview" routerLinkActive="nav-active">Overview</a>
          <a matRipple class="nav-item" routerLink="/tickets/organizer/events" routerLinkActive="nav-active">Events</a>
          <a matRipple class="nav-item" routerLink="/tickets/organizer/movies" routerLinkActive="nav-active">Movies</a>
          <a matRipple class="nav-item" routerLink="/tickets/organizer/flights" routerLinkActive="nav-active">Flights</a>
          <a matRipple class="nav-item" routerLink="/tickets/organizer/tickets" routerLinkActive="nav-active">Tickets</a>
          <a matRipple class="nav-item" routerLink="/tickets/payments" routerLinkActive="nav-active">Payments</a>
<!--          <a matRipple class="nav-item" routerLink="/tickets/favorites" routerLinkActive="nav-active">Favourites</a>-->
<!--          <a matRipple class="nav-item" routerLink="/tickets/organizer/info" routerLinkActive="nav-active">Info</a>-->
<!--          <a matRipple class="nav-item" routerLink="/tickets/rf-id" routerLinkActive="nav-active">RF ID</a>-->
          <a matRipple class="nav-item" routerLink="/users/admin" routerLinkActive="nav-active">Users</a>
          <a matRipple class="nav-item" routerLink="/tickets/site-settings" routerLinkActive="nav-active">Site Settings</a>
          <a matRipple class="nav-item" (click)="logout()">Sign Out</a>

        </ng-template>

      </div>
      <div fxHide.gt-xs fxFlex.xs="1 1 45" fxLayoutAlign.xs="start">
        <button mat-flat-button [matMenuTriggerFor]="navs" color="primary" style="width: auto">
          <span style="margin-right: 2rem">{{currentPath}}</span> <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #navs=matMenu xPosition="before">
          <button mat-menu-item (click)="navigateToPath('overview')">Overview</button>
          <button mat-menu-item (click)="navigateToPath('my-tickets')">My Tickets</button>
          <button mat-menu-item (click)="navigateToPath('sales')">My Sales</button>
          <button mat-menu-item (click)="navigateToPath('payments')">My Payment</button>
          <button mat-menu-item (click)="navigateToPath('favorites')">Favorites</button>
          <button mat-menu-item (click)="navigateToPath('rf-id')">RF ID</button>
          <button mat-menu-item (click)="navigateToPath('settings')">Settings</button>
        </mat-menu>
      </div>
    </div>
    <div fxFlex="80"
         fxLayout="column"
         fxLayoutAlign="start stretch"
         class="container-inner"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
