<div class="container-local">
  <div fxLayout="row"
       fxLayout.xs="column"
       fxLayoutAlign="space-between start"
       style="margin-bottom: 20px;"
       fxLayoutGap="2%" class="spacer-1">
    <div fxFlex="1 0 10%"
         fxLayout="column"
         fxLayoutAlign="start end">
      <span><img src="assets/images/icon_20.png"></span>
    </div>
    <div fxFlex="1 1 88%" fxLayout="column" fxLayoutAlign="space-between stretch">
      <h2 class="title-2 no-margin">Publish Your Movie</h2>

      <div fxLayout="row"
           fxLayout.xs="column"
           fxLayoutAlign="space-between center"
           fxLayoutGap="5%"
           fxLayoutAlign.xs="space-between center"
           style="margin-top: 20px;"
           class="mat-elevation-z2">
        <div fxFlex="1 0 25%" fxFlex.xs="auto" fxLayout="column" fxLayoutAlign="space-between stretch" class="image-canvas">
          <div fxFlex fxLayout="row" fxLayoutAlign="space-between stretch">
            <img *ngIf="!createdMovieImages.thumb" src="assets/images/placeholder.png" alt="Event image placeholder" class="img-clipped">
            <img *ngIf="createdMovieImages.thumb" src="{{backendPath}}/{{createdMovieImages.thumb}}" alt="Event cover image" class="img-clipped">
          </div>
        </div>
        <div fxFlex="1 1 70%" fxFlex.xs="auto" fxLayout="column" fxLayoutAlign="center start" style="padding: 0 1rem;">
          <div flex fxLayout="column" fxLayoutAlign="start start" class="full-width">
            <h3 class="input-header no-margin">{{createdMovie.name | capitalize}}</h3>
            <p class="time">{{createdMovie.start_date | date:'fullDate'}} at {{movieStartTime}}</p>
          </div>
          <div fxFlex fxLayout="row" style="margin: 10px 0;">
            <span class="icon-group">
              <mat-icon>book_online</mat-icon>
              <mat-icon>remove</mat-icon>
            </span>

            <span class="icon-group">
              <mat-icon>person_outline</mat-icon>
              <mat-icon>remove</mat-icon>
            </span>
          </div>
          <div fxFlex fxLayout="row" fxLayoutAlign="start center">
            <p>{{createdMovie.description | summary}}</p>
          </div>
          <span class="divider"></span>

          <div fxFlex fxLayout="row" fxLayoutAlign="center center" class="full-width">
            <button mat-button color="primary" class="preview" (click)="previewMovie()">
              Preview
              <mat-icon>launch</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="option-group">
        <h4 class="input-header">Who can see your movie premiere?</h4>
        <mat-radio-group aria-label="Select an option"
                         color="primary"
                         (change)="visibilityChange($event)"
                         class="radio-group-vertical">
          <mat-radio-button value="public" [checked]="visibilityLevel.public">
            <b>Public</b><br>
            The start time of the movie will be displayed to attendees
          </mat-radio-button>
          <mat-radio-button value="private" [checked]="visibilityLevel.private">
            <b>Private</b><br>
            The start time of the movie will not be displayed to attendees
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="option-group">
        <h3 class="title-4">Publish Options</h3>
        <mat-radio-group aria-label="Select an option"
                         color="primary"
                         (change)="publishOptionChange($event)"
                         class="radio-group-vertical">
          <mat-radio-button value="now" [checked]="publishOptions.now">Publish Now</mat-radio-button>
          <mat-radio-button value="schedule" [checked]="publishOptions.schedule">Schedule Date and Time</mat-radio-button>
        </mat-radio-group>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
          <mat-form-field appearance="outline" fxFlex="40">
            <input matInput [matDatepicker]="dp" placeholder="{{tempDate | date: 'shortDate'}}">
            <mat-datepicker-toggle matPrefix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="20">
            <input matInput [ngxTimepicker]="scheduleTimePicker" placeholder="{{tempDate | date: 'shortTime'}}">
            <ngx-material-timepicker-toggle [for]="scheduleTimePicker" matPrefix></ngx-material-timepicker-toggle>
            <ngx-material-timepicker #scheduleTimePicker></ngx-material-timepicker>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="2%" fxLayoutAlign.xs="space-between"
           class="full-width" style="padding: 30px 0;">
        <div *ngIf="createdMovie.is_completed !== 1" fxFlex="1 1 20" fxFlex.xs="1 1 49">
          <button type="button" mat-stroked-button color="primary" class="full-width btn-add"
                  (click)="onCancel()">
            Discard
          </button>
        </div>
        <div *ngIf="createdMovie.is_completed !== 1" fxFlex="1 1 20" fxFlex.xs="1 1 49">
          <button type="button" mat-stroked-button color="primary" class="full-width btn-add"
                  (click)="onCancel()">
            Cancel
          </button>
        </div>
        <div fxFlex="1 1 20" fxFlex.xs="1 1 49">
          <button mat-flat-button [color]="publishButtonColor"
                  class="full-width btn-add" type="submit"
                  [disabled]="createdMovie._is_completed === 1"
                  [ladda]="isLoading"
                  (click)="publishMovie()"
          >
            <span *ngIf="createdMovie.is_completed !== 1">Publish</span>
            <span *ngIf="createdMovie.is_completed === 1">Published</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
