<div class="app-footer">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutWrap class="footer-wrapper">
    <div fxFlex="25%" class="nav-start">
      <mat-nav-list>
        <mat-list-item>
          <img src="assets/images/icon-group_4.svg" alt="">
        </mat-list-item>
        <mat-list-item>
          <img src="assets/images/icon-group_3.svg" alt="">
        </mat-list-item>
        <mat-list-item>
          <img src="assets/images/icon-group_1.svg" alt="">
        </mat-list-item>
        <mat-list-item>
          <img src="assets/images/icon-group_2.svg" alt="">
        </mat-list-item>
      </mat-nav-list>
    </div>
    <div fxFlex="15%" fxFlexFill class="footer-link">
      <h3>About TycketHub&trade;</h3>
      <mat-nav-list>
        <a mat-list-item routerLink="">About Us</a>
        <a mat-list-item routerLink="">Partners</a>
        <a mat-list-item routerLink="">For Developers</a>
        <a mat-list-item routerLink="">Career</a>
      </mat-nav-list>
    </div>
    <div fxFlex="15%" class="footer-link">
      <h3>Have Questions?</h3>
      <mat-nav-list>
        <a mat-list-item routerLink="">Help Center</a>
        <a mat-list-item routerLink="">TycketHub Community</a>
        <a mat-list-item routerLink="">Top Cities</a>
        <a mat-list-item routerLink="">Gift Cards</a>
        <a mat-list-item routerLink="">Contact Us</a>
        <a mat-list-item routerLink="">How to sell Tickets</a>
      </mat-nav-list>
    </div>
    <div fxFlex="30%" class="footer-link">
      <h3 style="font-size: 0.9rem; text-transform: capitalize">Live events from other countries in Africa</h3>
      <p class="full-width">
        <mat-form-field appearance="outline" class="full-width">
          <mat-select>
<!--            <mat-option *ngFor="let country of countriesWithFlag" [value]="country.name">-->
<!--              <div class="full-width">-->
<!--                <img [src]="country.flag" alt=""> <span>{{country.name}}</span>-->
<!--              </div>-->
<!--            </mat-option>-->
          </mat-select>
          <mat-icon matPrefix>language</mat-icon>
        </mat-form-field>
      </p>

      <h3 style="font-size: 0.9rem; text-transform: capitalize">Get the tyckethub app</h3>
      <div>
        <img src="assets/images/Image 2.png" alt="" style="width: auto">
      </div>
    </div>
    <div id="back-to-top">
      <mat-icon class="to-top-icon">north</mat-icon>
      <span class="to-top-label">Back to Top</span>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="footer-division">
    <div fxFlex="50" fxFlex.xs="auto" class="full-width">
      <p style="margin-bottom: 0; color: white" class="full-width">© 2000-2020 TycketHub. All Rights Reserved.<br>
        Use of this website signifies your agreement to our User Agreement, Privacy Notice and Cookie Notice.</p>
    </div>
    <div fxFlex="50" fxFlex.xs="auto" fxLayout="row" fxLayoutAlign.xs="start" fxLayoutAlign="end center" fxLayoutGap="2%" class="full-width">
      <img src="assets/images/component_4.svg" alt="">
      <img src="assets/images/component_3.svg" alt="">
      <img src="assets/images/component_5.svg" alt="">
      <img src="assets/images/component_2.svg" alt="">
      <img src="assets/images/component_1.svg" alt="">
    </div>
  </div>
</div>
