<h2 class="title-3">Tickets</h2>
<div fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="space-between center"
     fxLayoutAlign.xs="start start"
     fxLayoutGap="4%"
     fxLayoutGap.xs="10px"
>
  <div fxFlex="48%" fxFlex.xs="50%" fxLayout.xs="row" fxLayoutAlign.xs="start start">
    <div fxFlex fxFlexAlign="start">
      <span>Showing: </span>
      <mat-form-field appearance="outline" class="pagination-drop-down">
        <mat-select>
          <mat-option value="10">10</mat-option>
          <mat-option value="25">25</mat-option>
          <mat-option value="50">50</mat-option>
          <mat-option value="100">100</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div fxFlex="48%" fxFlex.xs="50%" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10%" fxLayout.xs="10%">
    <div fxFlex="60%">
      <mat-form-field appearance="outline" color="primary" class="long-form-field full-width">
        <input matInput class="full-width" placeholder="Search for tickets">
        <mat-icon matPrefix color="primary">search</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>

<div fxLayout="row" style="padding-top: 20px" class="full-width">
  <div fxFlex>
    <table mat-table [dataSource]="ticketTableSource" class="mat-elevation-z1 full-width">
      <!--  Checkbox column-->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="w-50">
          <mat-checkbox color="primary"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox color="primary"></mat-checkbox>
        </td>
      </ng-container>

      <!--      Event Column-->
      <ng-container matColumnDef="event">
        <th mat-header-cell *matHeaderCellDef class="w-250">Event</th>
        <td mat-cell *matCellDef="let element" style="">
          {{element.eventName}}
        </td>
      </ng-container>

      <!--      Ticket Sold Column-->
      <ng-container matColumnDef="ticketSold">
        <th mat-header-cell *matHeaderCellDef class="w-100">Tickets Sold</th>
        <td mat-cell *matCellDef="let element">{{element.ticketSold}}/{{element.totalTicket}}</td>
      </ng-container>

      <!--      Ticket Type Column-->
      <ng-container matColumnDef="ticketType">
        <th mat-header-cell *matHeaderCellDef class="w-100">Ticket Type</th>
        <td mat-cell *matCellDef="let element">{{element.ticketType}}</td>
      </ng-container>

      <!--      Ticket ID Column-->
      <ng-container matColumnDef="ticketId">
        <th mat-header-cell *matHeaderCellDef class="w-100">Ticket ID</th>
        <td mat-cell *matCellDef="let element">{{element.ticketId}}</td>
      </ng-container>

      <!--      Price Per Ticket Column-->
      <ng-container matColumnDef="pricePerTicket">
        <th mat-header-cell *matHeaderCellDef class="w-100">Price Per Ticket</th>
        <td mat-cell *matCellDef="let element">{{element.pricePerTicket}}</td>
      </ng-container>

      <!--     Ticket Status Column-->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="w-100">Status</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
  </div>
</div>
