:host ::ng-deep .mat-form-field-wrapper{
  margin: 0 !important;
  padding: 0;
}
.pagination-drop-down {
  width: 70px;
}
.action-btn {
  padding: 0.5rem 0.7rem;
}
.mat-table thead {
  width: 100%;
}
.mat-table tbody {
  width: 100%
}
.w-50 {
  width: 50px;
}
.w-75 {
  width: 75px;
}
.w-100 {
  width: 100px;
}
.w-200 {
  width: 200px;
}
.w-250 {
  width: 250px;
}
.w-300 {
  width: 300px;
}
.tx-rt {
  text-align: right !important;
}
.tx-lf {
  text-align: left !important;
}
.tx-ct {
  text-align: center !important;
}
