<h2 class="title-3">Payments</h2>

<div fxLayout="row" fxLayout.xs="column" style="width: 100%; padding: 10px;">
  <div class="card-custom">
    <div class="card-custom-header">
      <h3 class="card-custom-title">Payment options for buying and selling tickets</h3>
      <span class="card-custom-tools">
        <button mat-stroked-button color="primary">
          <mat-icon>add_circle</mat-icon>
          Add New Payment Method
        </button>
      </span>
    </div>
    <div class="card-custom-body" fxLayout.xs="column">
      <img src="assets/images/card 1.jpg" alt="">
      <img src="assets/images/card 2.jpg" alt="">
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="column" style="width: 100%; margin-top: 20px; padding: 10px;">
  <div class="card-custom">
    <div class="card-custom-header">
      <h3 class="card-custom-title">Payment options for buying and selling tickets</h3>
      <span class="card-custom-tools">
        <button mat-stroked-button color="primary">
          <mat-icon>add_circle</mat-icon>
          Add New Payment Method
        </button>
      </span>
    </div>
    <div class="card-custom-body" fxLayout.xs="column">
      <img src="assets/images/card 1.jpg" alt="">
      <!--      <img src="assets/images/card 2.jpg" alt="">-->
    </div>
  </div>
</div>
