<form [formGroup]="ticketCreationForm" (ngSubmit)="save()">
  <div class="form-error" *ngIf="formErrorValue$ | async as formError">
    {{formError}}
  </div>
  <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
    <div fxFlex fxLayout="column" class="full-width">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Ticket Title</mat-label>
        <input matInput type="text" formControlName="title" class="full-width" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Ticket Description</mat-label>
        <textarea matInput formControlName="description" rows="5" required></textarea>
      </mat-form-field>
    </div>
    <div fxFlex fxLayout="row"
         fxLayout.xs="column"
         fxLayoutAlign="space-between center"
         fxLayoutGap="2%" fxLayoutGap.xs="10px"
         class="full-width">
      <div fxFlex="1 1 49%">
        <h4>Quantity</h4>
        <mat-form-field appearance="outline" class="full-width">
          <mat-select [disabled]="ticketType === availableTicketTypes[2]" formControlName="quantity">
            <mat-option value="1">Limited Stock</mat-option>
            <mat-option value="2">Unlimited Stock</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="1 1 49%">
        <h4>Price</h4>
        <mat-form-field appearance="outline" class="full-width">
          <input matInput type="number"
                 formControlName="price"
                 [disabled]="ticketType === availableTicketTypes[0] || ticketType === availableTicketTypes[2]">
        </mat-form-field>
      </div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
      <button mat-flat-button color="primary" type="submit">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </div>
  </div>
</form>
