<div fxLayout="column" fxLayoutAlign="center center" class="image-canvas">
  <div fxFlex fxLayout="column" fxLayoutAlign="center">
    <input #imageInput
           type="file"
           accept="image/*"
           class="upload-btn"
    >
  </div>
  <div fxFlex fxLayout="column" fxLayoutAlign="start">
    <p><span class="placeholder-caption">Add Event Banner Image.</span><br>
      <span
        class="placeholder-description">(665px X 157px not larger than 5mb. Please avoid including text on image)</span>
    </p>
  </div>
</div>
