<div class="modal-container">
  <button mat-icon-button class="close" (click)="closeDialog()" color="accent">
    <mat-icon color="primary">close</mat-icon>
  </button>
  <div fxLayout="column" fxLayoutAlign="center center">
    <h2 class="modal-title">Change Password</h2>
    <br>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Current Password</mat-label>
      <input matInput #oldPassword type="password" [value]="data.oldPassword" name="old">
      <mat-icon *ngIf="!passwordFields.old" matSuffix (click)="togglePasswordVisibility(oldPassword)">visibility</mat-icon>
      <mat-icon *ngIf="passwordFields.old" matSuffix (click)="togglePasswordVisibility(oldPassword)">visibility_off</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>New Password</mat-label>
      <input matInput #newPassword type="password" [value]="data.newPassword" name="new">
      <mat-icon *ngIf="!passwordFields.new" matSuffix (click)="togglePasswordVisibility(newPassword)">visibility</mat-icon>
      <mat-icon *ngIf="passwordFields.new" matSuffix (click)="togglePasswordVisibility(newPassword)">visibility_off</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Confirm New Password</mat-label>
      <input matInput #confirmPassword type="password" [value]="data.confirmNewPassword" name="confirm">
      <mat-icon *ngIf="!passwordFields.confirm" matSuffix (click)="togglePasswordVisibility(confirmPassword)">visibility</mat-icon>
      <mat-icon *ngIf="passwordFields.confirm" matSuffix (click)="togglePasswordVisibility(confirmPassword)">visibility_off</mat-icon>
    </mat-form-field>
    <br>
    <div style="width: 100%">
      <button mat-stroked-button (click)="closeDialog()" class="full-width submit">Update Password</button>
    </div>
  </div>
</div>
