<!--<h2 class="" style="font-size: 25px; font-weight: 700; margin: 20px 0;">My Tickets</h2>-->
<h2 class="title-3">My Tickets</h2>

<div fxLayout="row"
     fxLayoutAlign="space-between center"
     fxLayoutAlign.xs="center center"
     style="padding: 10px"
>
  <div fxFlex="50" fxFlex.xs="100%">
    <a mat-stroked-button>Artistes</a>&nbsp;
    <a mat-stroked-button>Airlines</a>&nbsp;
    <a mat-stroked-button>Cinemas</a>&nbsp;
    <a mat-stroked-button color="primary">Events</a>
  </div>
</div>
<p style="color: #51576d; border-bottom: 1px solid rgba(0,0,0,.2); padding-left: 10px; margin: 15px 0; padding-bottom: 10px;">Click the star to remove from favorites</p>
<div style="min-height: 300px; padding: 10px">
  <div style="text-align: center; margin-top: 12vh; color: #51576d" fxLayout="column" fxLayoutAlign="end center">
    <div style="width: 240px;">
      <img src="assets/images/empty-list-clip.jpg" alt="" style="width: 100%">
    </div>
    <h3>No favorite events yet</h3>
    <p>Be sure to add your favorite events do we can <br>let you know about upcoming event</p>
  </div>
</div>
