<section  fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5%">
  <div fxFlex="1 1 10" class="full-width">
    <img src="assets/images/logo.png" alt="">
  </div>
  <div fxFlex="1 1 50" class="full-width">
    <mat-nav-list class="full-width" routerLinkActive="nav-active">
      <a (click)="navigateToPage('/events')" mat-list-item>Events</a>
    </mat-nav-list>
    <mat-nav-list class="full-width" routerLinkActive="nav-active">
      <a (click)="navigateToPage('/flights')" mat-list-item>Flights</a>
    </mat-nav-list>
    <mat-nav-list class="full-width" routerLinkActive="nav-active">
      <a (click)="navigateToPage('/movies')" mat-list-item>Movies</a>
    </mat-nav-list>
    <mat-nav-list class="full-width" routerLinkActive="nav-active">
      <a (click)="navigateToPage('/tickets/my-tickets')" mat-list-item>Resell Ticket</a>
    </mat-nav-list>
    <mat-nav-list class="full-width" routerLinkActive="nav-active">
      <a (click)="navigateToPage('/users/sign-in')" mat-list-item>Sign In</a>
    </mat-nav-list>

    <mat-nav-list class="full-width" style="margin-top: 10px">
      <a routerLink="/events/create" mat-flat-button color="primary">Create Event</a>
    </mat-nav-list>
  </div>
</section>
