<div class="search-box" fxLayout="column" fxLayoutAlign="space-between stretch">
  <div class="search-field-wrapper full-width" fxFlex="1 1 50" fxLayout="row" fxLayoutAlign="stretch center">
    <mat-form-field color="primary" appearance="outline" class="full-width">
      <input matInput type="text" placeholder="Enter search keyword">
      <mat-icon matPrefix color="primary">search</mat-icon>
    </mat-form-field>
  </div>
  <div fxFlex="1 1 40" fxLayout="row" fxLayoutAlign="center end" class="full-width">
    <button mat-flat-button color="warn" class="submit">Go</button>
  </div>
</div>
