<header fxLayout="row" fxLayoutAlign="center center" class="full-width" fxHide.xs>
  <div fxFlex="1 1 100" fxLayoutAlign="center">
    <img src="assets/images/logo.png">
  </div>
  <button mat-stroked-button color="primary" routerLink="/flights/list"><mat-icon>arrow_back_ios</mat-icon>Back to results</button>
</header>
<app-header (toggleSearchBoxEvent)="toggleSearchBox($event)" fxHide.gt-xs></app-header>
<div fxHide [ngStyle]="displayStyle" class="search-box-container">
  <app-flight-search-box-mobile></app-flight-search-box-mobile>
</div>
<div class="hero full-width" fxLayout="row" fxLayoutAlign="center center" style="margin-top: 56px">
  <div fxFlex="1 1 100" fxLayoutAlign="center center" fxLayout="column">
    <h2 class="title-3"><b>Minneapolis</b>, United States</h2>
    <span>1 adult • Return • Economy class</span>
  </div>
</div>

<div class="container spacer-1">
  <div fxLayout="row"
       fxLayoutAlign="space-between stretch"
       fxLayoutGap="5%"
       fxLayoutGap.xs="0"
  >
    <section fxFlex="1 0 30" fxLayout="column" fxLayoutAlign="start" class="full-width" fxHide.xs>
      <div class="flight-list-featured-card full-width">
        <img src="assets/images/img_105-sm.png" class="full-width">
      </div>
      <p class="flight-description full-width">
        Minneapolis is the most populous city in the US state of Minnesota and the seat of Hennepin County.
        With an estimated population of 429,606 as of 2019, it is the 46th most populous city in the US.
        Seven counties encompassing Minneapolis and its neighbor Saint Paul are known as the Twin Cities.
        In 2019, those counties are among sixteen making up the Minneapolis–St.
        Paul–Bloomington MN–WI metropolitan area of 3.6 million, and twenty-two making up the combined statistical area of 4.0 million.<br>
        Minneapolis lies on both banks of the Mississippi River, just north of the river's confluence with the Minnesota River, and
        adjoins Saint Paul, the state's capital. With one of the nation's best park systems
        <span class="text-mask"></span>
        <span class="read-more">Read more</span>
      </p>
      <div class="full-width spacer-1">
        <h3 class="title-3">Gallery</h3>
        <img src="assets/images/img_106-sm.png" class="full-width" (click)="openLightBox(0)">
        <div class="full-width" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="2%" style="margin-top: 10px;">
          <div fxFlex="1 0 49" class="full-width">
            <img src="assets/images/img_107-sm.png" class="full-width" (click)="openLightBox(1)">
          </div>
          <div fxFlex="1 0 49" class="full-width">
            <img src="assets/images/img_108-sm.png" class="full-width" (click)="openLightBox(2  )">
          </div>
        </div>
      </div>
    </section>
    <section fxFlex="1 1 65"
             fxFlex.xs="1 1 100"
             fxLayout="column"
             fxLayoutAlign="start"
             style="padding: 10px"
             class="full-width">
      <div fxFlex="1 1 20%" fxLayout="row" fxLayoutAlign="start" style="margin-bottom: 10px;" class="full-width">
        <div fxFlex="100" fxFlex.xs="1 1 100" fxLayout="column" style="position: relative">
          <div fxFlex="1 1 20" fxLayout="row" fxLayoutAlign="start" class="full-width">
            <span style="margin-right: 1em;"><mat-icon>flight_takeoff</mat-icon></span>
            <span style="margin-right: 1rem"><b>Departure</b></span>
            <span style="margin-right: 1rem">{{date | date: 'mediumDate'}}</span>
          </div>
          <div fxFlex="1 1 12" fxFlex.xs="1 1 15" fxLayout="row" fxLayoutAlign="end" class="full-width">
            <span class="flight-class">All time local time</span>
          </div>
          <div fxFlex="1 1 40" fxFlex.xs="1 1 65" fxLayout="row" fxLayoutAlign="space-around center" class="flight-detail-item mat-elevation-z1" (click)="toggleDetail()" matRipple>
            <div fxFlex="1 1 80" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10%" class="full-width">
              <div fxFlex="1 0 20%">
                <img src="assets/images/ethopia-airline.png" alt="" class="full-width">
              </div>
              <div fxFlex="1 1 70%" fxLayout="row" fxLayoutAlign="space-between center">
                <span fxFlex="auto"><b>13:40</b> (LOS) <br>Lagos</span>
                <span fxFlex="auto">
                <i>17h 55m</i><br>
                <img src="assets/images/img_group2.png" alt=""><br>
                <i>1 stop</i>
              </span>
                <span fxFlex="auto">
                <b>06:35</b> (MNP) <br>Minneapolis
              </span>
              </div>
            </div>
            <div fxFlex="1 1 10" fxLayoutAlign="end">
              <mat-icon>
                <ng-container *ngIf="!detailShown">keyboard_arrow_right</ng-container>
                <ng-container *ngIf="detailShown">expand_more</ng-container>
              </mat-icon>
            </div>
          </div>
        </div>
      </div>

      <div fxFlex="1 1 20%" fxLayout="row" fxLayoutAlign="start" style="margin-bottom: 10px;" class="full-width">
        <div fxFlex="100" fxFlex.xs="1 1 100" fxLayout="column" style="position: relative">
          <div fxFlex="1 1 20" fxLayout="row" fxLayoutAlign="start" class="full-width">
            <span style="margin-right: 1em;"><mat-icon>flight_land</mat-icon></span>
            <span style="margin-right: 1rem"><b>Return</b></span>
            <span style="margin-right: 1rem">{{date | date: 'mediumDate'}}</span>
          </div>
          <div fxFlex="1 1 12" fxFlex.xs="1 1 15" fxLayout="row" fxLayoutAlign="end" class="full-width">
            <span class="flight-class">All time local time</span>
          </div>
          <div fxFlex="1 1 40" fxFlex.xs="1 1 65" fxLayout="row" fxLayoutAlign="space-around center" class="flight-detail-item mat-elevation-z1" (click)="toggleDetail()" matRipple>
            <div fxFlex="1 1 80" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10%" class="full-width">
              <div fxFlex="1 0 20%">
                <img src="assets/images/ethopia-airline.png" alt="" class="full-width">
              </div>
              <div fxFlex="1 1 70%" fxLayout="row" fxLayoutAlign="space-between center">
                <span fxFlex="auto"><b>13:40</b> (LOS) <br>Lagos</span>
                <span fxFlex="auto">
                <i>17h 55m</i><br>
                <img src="assets/images/img_group2.png" alt=""><br>
                <i>1 stop</i>
              </span>
                <span fxFlex="auto">
                <b>06:35</b> (MNP) <br>Minneapolis
              </span>
              </div>
            </div>
            <div fxFlex="1 1 10" fxLayoutAlign="end">
              <mat-icon>
                <ng-container *ngIf="!detailShown">keyboard_arrow_right</ng-container>
                <ng-container *ngIf="detailShown">expand_more</ng-container>
              </mat-icon>
            </div>
          </div>
        </div>
      </div>

      <div fxFlex="1 1 13" fxFlex.xs="1 1 20%" fxLayout="column" class="spacer-xs">
        <h3 class="title-3"><b>Book your Ticket</b></h3>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="full-width action-button" matRipple>
          <div fxFlex="1 1 80" fxLayout="row" fxLayoutAlign="start center">
            <span fxFlex="1 1 8" fxLayoutAlign="center"><mat-icon color="warn">info</mat-icon></span>
            <span fxFlex="1 0 70">Before you book your ticket, read this</span>
          </div>
          <span fxFlex="1 1 20" fxLayoutAlign="end"><mat-icon>keyboard_arrow_right</mat-icon></span>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center" class="full-width flight-vendor-list-item mat-elevation-z1">
        <div fxFlex="1 1 60" fxLayout="row" fxLayoutAlign="start center" class="full-width">
          <span fxFlex="1 0 30" class="full-width">
            <img src="assets/images/wakanow-logo.png" alt=""><br>
            <bar-rating rate="4" [max]="5" [theme]="'default'"></bar-rating>
           </span>
        </div>

        <div fxFlex="1 0 40"
             fxLayout="row"
             fxLayout.xs="column"
             fxLayoutAlign="end center"
             fxLayoutGap="5%" class="full-width">
          <div fxFlex="1 1 60" fxLayout="row" fxLayoutAlign="end">
            Total:&nbsp;<span style="font-weight: 500; font-size: 1.5rem;">₦772,422</span>
          </div>

          <div fxFlex="1 1 40" fxLayout.xs="row" fxLayoutAlign.xs="end" class="full-width">
            <button mat-flat-button color="primary" class="">Select <mat-icon>keyboard_arrow_right</mat-icon></button>
          </div>
        </div>
      </div>
      <br>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="full-width flight-vendor-list-item mat-elevation-z1">
        <div fxFlex="1 1 60" fxLayout="row" fxLayoutAlign="start center" class="full-width">
          <span fxFlex="1 0 30" class="full-width">
            <img src="assets/images/wakanow-logo.png" alt=""><br>
            <bar-rating [rate]="3" [max]="5" [theme]="'default'"></bar-rating>
           </span>
        </div>

        <div fxFlex="1 0 40"
             fxLayout="row"
             fxLayout.xs="column"
             fxLayoutAlign="end center"
             fxLayoutGap="5%"
             class="full-width">
          <div fxFlex="1 1 60" fxLayout="row" fxLayoutAlign="end">
            Total:&nbsp;<span style="font-weight: 500; font-size: 1.5rem;">₦772,422</span>
          </div>

          <div fxFlex="1 1 40" fxLayout.xs="row" fxLayoutAlign.xs="end" class="full-width">
            <button mat-flat-button color="primary">Select <mat-icon>keyboard_arrow_right</mat-icon></button>
          </div>
        </div>
      </div>
      <br>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="full-width flight-vendor-list-item mat-elevation-z1">
        <div fxFlex="1 1 60" fxLayout="row" fxLayoutAlign="start center" class="full-width">
          <span fxFlex="1 0 30" class="full-width">
            <img src="assets/images/wakanow-logo.png" alt=""><br>
            <bar-rating rate="1" [max]="5" [theme]="'default'"></bar-rating>
           </span>
        </div>

        <div fxFlex="1 0 40"
             fxLayout="row"
             fxLayout.xs="column"
             fxLayoutAlign="end center"
             fxLayoutGap="5%"
             class="full-width">
          <div fxFlex="1 1 60" fxLayout="row" fxLayoutAlign="end">
            Total:&nbsp;<span style="font-weight: 500; font-size: 1.5rem;">₦772,422</span>
          </div>

          <div fxFlex="1 1 40" fxLayout.xs="row" fxLayoutAlign.xs="end" class="full-width">
            <button mat-flat-button color="primary">Select <mat-icon>keyboard_arrow_right</mat-icon></button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="container-fluid spacer-3">
  <app-footer></app-footer>
</div>
