<div fxFlex="auto" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2%" class="tab-container">
  <h3 class="tab-container-intro">Which movie are you looking for?</h3>
  <div fxFlex="1 1 80%" class="field-container">
    <mat-form-field appearance="outline" class="full-width" color="primary">
      <mat-label>Enter movie name</mat-label>
      <input type="text" matInput>
      <mat-icon matPrefix color="primary">search</mat-icon>
    </mat-form-field>
  </div>
  <div fxFlex="0 0 20%">
    <button mat-flat-button color="warn" class="full-width" id="movie-search">Search</button>
  </div>
</div>
